<article id="main">
    <header>
        <h2>Лента Новостей</h2>
        <p>Здесь можно найти интресные, на мой взгляд, материалы<br>О мире камней и украшениях.</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            <h3>Не много о себе</h3>
            <div class="topic">
                <img class="foto" src="./images/all0.webp" alt="">
                <p style="text-indent: 25px">
                    Меня зовут Алла. Я молодая пенсионерка. Не могу сидеть без дела. Люблю
                    творческие занятия и особенно меня увлекает мир самоцветов и
                    качественной бижутерии.В этом блоге я представлю некоторые свои
                    работы. Очень бы зртелось услышать мнение о них. (Ссылки на мои сети и почту в
                    подвале страницы).<p style="text-indent: 25px">Ещё здесь я планирую размещать статьи, фото и видео из мира камней украшений. Надеюсь что будет интересно и познавательно!
                        </p>
                </p>
            </div>
           

            

            <hr />

            <h4>Feugiat aliquam</h4>
           

            <p>Etiam iaculis nulla ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit, eget condimentum nunc blandit vel. In at pulvinar lectus. Morbi diam ante, vulputate et imperdiet eget, fermentum non dolor. Ut eleifend sagittis tincidunt. Sed viverra commodo mi, ac rhoncus justo. Duis neque ligula, elementum ut enim vel, posuere finibus justo. Vivamus facilisis maximus nibh quis pulvinar. Quisque hendrerit in ipsum id tellus facilisis fermentum. Proin mauris dui, at vestibulum sit amet, auctor bibendum neque.</p>

        </div>
    </section>
</article>