<section id="one" class="wrapper alt style2 special">
  <!-- left -->
  
    <section class="spotlight">
      <div class="image"><img src="images/jew/pearl/pear0.webp" alt=""/></div>
      <div class="content">
        <h2>Жемчуг</h2>
        <p>Украшения на основе искусственного жемчуга</p>
        <a href="PearlBase.html">(Подробние...)</a>
      </div>
    </section>
  <!-- right -->
  <section class="spotlight">
    <div class="image"><img src="images/pic02.jpg" alt=""/></div>
    <div class="content">
      <h2>Этнические</h2>
      <p>Украшения с мотивами народов мира</p>
    </div>
  </section>
  <!-- left -->
  <section class="spotlight">
    <div class="image"><img src="images/pic03.jpg" alt=""/></div>
    <div class="content">
      <h2>Керамика<br/>
        и полимеры</h2>
      <p>Украшения из современных искусственных материалов</p>
    </div>
  </section>
  <!-- right -->
  <section class="spotlight">
    <div class="image"><img src="images/pic02.jpg" alt=""/></div>
    <div class="content">
      <h2>Модерн</h2>
      <p>Украшения с учетом тенденций моды</p>
    </div>
  </section>
</section>
