<section id="one" class="wrapper alt style2 special">
  <!-- left -->
  <!-- здесь ссылки на демо каруселью -->
    <section id="pear01" class="spotlight">

      <div class="image">
      <img src="images/jew/pearl/per003_01.webp" alt=""/></div>
      <div class="content">
        <p>№01</p>
        <h2>Жумчуг нитка</h2>
        <p>Украшение классическое</p>
        <a href="per003.html">(ещё фото...)</a>
      </div>
    </section>
  <!-- right -->
  <section id="pear02" class="spotlight">
    <div class="image">
      <img src="images/jew/pearl/per002_01.webp" alt=""/></div>
    <div class="content">
      <p>№02</p>
      <h2>Жемчужное утро</h2>
      <p>Украшение с жемчугом и бриллиантами</p>
      <a href="per002.html">(ещё фото...)</a>
    </div>
  </section>
  <!-- left -->
  <section id="pear03" class="spotlight">
    <div class="image"><img src="images/pic03.jpg" alt=""/></div>
    <div class="content">
      <p>№03</p>
      <h2>Прицесса</h2>
      <p>Украшение из жемчуга с подвеской из платины</p>
      <a href="#">(ещё фото...)</a>
    </div>
  </section>
  <!-- right -->
  <section id="pear04" class="spotlight">
    <div class="image"><img src="images/pic02.jpg" alt=""/></div>
    <div class="content">
      <p>№04</p>
      <h2>Баба Дуся</h2>
      <p>Украшение из сундука</p>
      <a href="#">(ещё фото...)</a>
    </div>
  </section>
</section>