<section id="one" class="wrapper alt style2 special">
    <!-- left -->
    <!-- здесь ссылки на демо каруселью -->
    <a  href="pearl1.html">
        <section class="spotlight">
            
            <div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
                <h2>Жумчуг нитка</h2>
                <p>Украшение классическое</p>
            </div>
        </section>
    </a>
    <!-- right -->
    <section class="spotlight">
        <div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
            <h2>Жемчужное утро</h2>
            <p>Украшение с жемчугом и бриллиантами</p>
        </div>
    </section>
    <!-- left -->
    <section class="spotlight">
        <div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
            <h2>Прицесса</h2>
            <p>Украшение из жемчуга с подвеской из платины</p>
        </div>
    </section>
     <!-- right -->
     <section class="spotlight">
        <div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
            <h2>Баба Дуся</h2>
            <p>Украшение из сундука</p>
        </div>
    </section>
</section>