#wrapper {
    height: inherit;
}
.spotlight:nth-child(1) {
    background-color: $color-primary-1; 
}

.spotlight:nth-child(2) {
    background-color:$color-primary-1;
    opacity: 0.8;
}

.spotlight:nth-child(3) {
    background-color: $color-primary-1; 
}

.spotlight:nth-child(4) {
    background-color:$color-primary-1;
    opacity: 0.8; 
}

.spotlight:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.375);
}

body {
    background-image: url(../../images/kamni.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.blur {
    backdrop-filter: blur(10px)
}

#menu {
    background:  $color-primary-2;
}

#header {
    background: #29554b;
}

#footer {
    background: #29554b;
}

.top {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 0.8em;
    letter-spacing: 0.225em;
    padding: 0;
    text-transform: uppercase;
    font: inherit;
}

#banner:after {
    background: $color-primary-1;
}

.topic {
    height: fit-content;
}

.foto {
    float: left;
    max-width: 360px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #3e3f3d;
    border-radius: 20px;
    box-shadow: 0 0 20px #4b4c4b;
    @media (max-width: 426px) {
        max-width: 350px;
        margin-right: 0px;
    }
    @media (max-width: 380px) {
        max-width: 320px;
        // margin-bottom: 20px;
    }
    @media (max-width: 326px) {
        max-width: 270px;
        // margin-bottom: 20px;
    }
}