<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="assets/css/main.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <noscript>
      <link rel="stylesheet" href="assets/css/noscript.min.css"/></noscript>
    <link rel="icon" href="images/kamin.ico">
  </head>

  <body class="is-preload blur">

    <div id="wrapper-slider">
      {{> body}}
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.min.js"></script>
    <script src="assets/js/main.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>

  </body>

</html>
